.navbar {
    background: rgb(220, 152, 236);
}

.nav-link {
    position: absolute;
    top: 0px;
    right: 0px;
}

html {
    color: white;
}

body{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #333f48;

}

#container{
    margin : 20px auto;
    background-color: #52585a;
    height: 700px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    color: white;
    
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width: 520px;
    height: 200px;
    margin: 20px;
    top: 260px;
    left: 80px;
    border: 2px solid #FFFFFF;
    text-align: center;
    cursor: pointer;
    position: absolute;
    color: lightgrey;
}
#start:hover{
    /* border: 3px solid lightseagreen; */
    color : lightseagreen;
}

#question{
    width:500px;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding-top: 150px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 15px;
    font-size: 1.25em;
}

#choices{
    width : 480px;
    position: absolute;
    right : 0;
    top : 210px;
    padding : 30px
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid rgb(230, 219, 219);
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: rgb(220, 152, 236);
    opacity: 1;
    height: 250px;
    width : 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: fixed;
    display: none;
}

#scoreContainer {
    position: relative;
    display: block;
    width : 30rem;
    height : 10rem;
    top:130px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}